body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
    position: relative;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bdb9b9;
    
}

.boton:hover{
    background-color: rgb(65, 196, 65);
    color: #ffffff;
    border: none;
    transition: background-color .7s;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

label{
    color: red;
    font-size: 20px;
}
.hide{
    display:none;
}

.borde{
    margin: auto;
    border: 15px solid rgba(28,110,164,0.12);
}

.title{
    text-align: center;
    color: #0000ee;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.data{
    width: 50%;
}

.result{
    width: 97%;
    display: flex;
}

th{
border: 1px solid #AAAAAA;
}
